:host {
  width: 210px;
  height: 350px;

  .movie-card {
    height: 100%;
    position: relative;
    transition: all .5s ease;

    &:hover {
      transform: scale(1.1);
    }

    .movie-card__link {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      text-decoration: none;
      color: inherit;
      cursor: pointer;

      .movie-card__poster {
        img {
          width: 100%;
          height: 300px;
        }
      }

      .movie-card__info {
        padding: 0 10px 10px;
      }
    }
  }
}

